.btn {
    font-size: var(--text-sm);
	letter-spacing: var(--tracking-xs);
	text-transform: uppercase;
	padding: var(--space-4) var(--space-8);
	text-decoration: none;
	transition:
		opacity 0.3s,
		transform 0.2s;
	display: inline-block;
	font-weight: 500;

    &.primary {
        /* btn-primary */
        background: var(--accent);
        color: var(--white);
        &:hover {
            opacity: 0.88;
            transform: translateY(-1px);
        }
    }
    &.outline {
        /* btn outline */
        color: var(--white-60);
        border: 1px solid var(--white-20);
        &:hover {
            border-color: var(--accent);
            color: var(--accent);
        }
    }
    
    &.outline-dark {
        /* btn outline-dark */
        color: var(--black-55);
        border: 1px solid var(--border);
        padding: var(--space-4) var(--space-8);
    
        &:hover {
            border-color: var(--accent);
            color: var(--accent);
        }
    }
}
